# Task1

Program 2: Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [15]:
nl=[]
for num in range(2000,3200):
  if(num%7==0) and (num%5==0):
    nl.append(str(num))
print(','.join(nl))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

Program 3: Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [16]:
firstname=input("Enter first name")
lastname=input("Enter last name")
print(lastname,firstname)

Enter first nameDeepak
Enter last nameSharma
Sharma Deepak

Program 4: Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r3

In [7]:
dim=12
pi=3.14
r=dim/2
V=(4/3)*pi*r*r*r
print ("The volume V is",V)

The volume V is 904.3199999999998

## Task2

Program 1: Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [8]:
values = input("Please add some numbers in a row: ")
l = values.split(",")
t = tuple(l)
print(l)
print(t)

Please add some numbers in a row: 23 33 33 44 55 66
['23 33 33 44 55 66']
('23 33 33 44 55 66',)

Program 4: Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA,
        having solemnly resolved to constitute India into a
                SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC 
                 and to secure to all its citizens

In [13]:
print("WE, THE PEOPLE OF INDIA, \n\t having solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC, \n\t\tand to secure to all its citizens.")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC,
		and to secure to all its citizens.

Program 3: Write a Python program to reverse a word after accepting the input from the user.

In [9]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: Deepak
kapeeD

Program 2: Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*